body{
    text-align: center;
    font-family: 'Poiret One', cursive;
    overflow-x: hidden;
}
#addSong{
    font-size:20px;
}
img{
    width:200px;
    height:200px;
}

h2{
    font-family: 'Megrim', cursive;
    font-size:54px;
}
h1{
    font-family: 'Megrim', cursive;
    font-size:85px;
}
h3{
    font-size:36px;
}
h5{
    font-size:24px;
}
h7{
    font-size:16px;
}

.inBetween{
    width:12px;
}
.songDes{
    width:200px;
}
/*.halfPage{*/
/*    width:50%;*/
/*}*/