body{
    text-align: center;
    font-family: 'Poiret One', cursive;
    overflow-x: hidden;
    /*background-image:url("../background.png");*/
    /*background-position:center;*/
}
#addSong{
    font-size:20px;
    color:#af0040;
    border-color: black;
    background-color: white;
    
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
}

#addSong:hover{
    transform: translateY(-5px);
}
    
.form-control{
    border-color:black;
    color:#af0040;
}
img{
    width:200px;
    height:200px;
}

h2{
    font-family: 'Megrim', cursive;
    font-size:54px;
    
}
h1{
    font-family: 'Megrim', cursive;
    font-size:90px;
    color:#af0040;
}
h3{
    font-size:36px;
    
}
h5{
    font-size:24px;
}
h7{
    font-size:16px;
}

.inBetween{
    width:12px;
}
.songDes{
    width:200px;
}

.img-thumbnail{
    background:#3a3a3a;
    border:0.5px solid black;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
}
.img-thumbnail:hover{
    transform: translateY(-5px);
}

::placeholder{
    color:black;
}